body {
  font-family: 'Poppins', sans-serif;
  background: url('./images/paper-1215551_1280.webp') top center;
  background-size: cover;
  height: 100vh;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

h1 {
  font-size: 30px;
}

.phonebook,
.filter,
.contact-list {
  max-width: 550px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.7);
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 0 5px;
}
.phonebook-input-fielsds {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}

.phonebook-input-fielsds .phonebook-input,
.filter-input,
.msg textarea {
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #f0c39c;
  padding: 10px;
  color: #f0c39c;
  width: 100%;
}

.msg textarea {
  height: 82px;
}
::-moz-input-placeholder {
  color: #f0c39c;
}

::-ms-input-placeholder {
  color: #f0c39c;
}

::-webkit-input-placeholder {
  color: #f0c39c;
}

.btn {
  background: #d39d7c;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .phonebook {
    flex-direction: column;
  }
  .msg textarea {
    height: 80px;
  }
  .phonebook-input-fielsds,
  .msg {
    width: 100%;
  }
  .btn {
    padding: 5px;
    font-size: 12px;
  }
}

.contact-item {
  font-size: 18px;
  color: #f0c39c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.filter {
  margin-bottom: 10px;
}

.contact-message {
  font-size: 100%;
  color: #f0c39c;
}
